<mat-card>
  <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-checkbox matTooltip="Add product to order"></mat-checkbox>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row">
      <div fxFlex="calc((100%/3)*2)">
        <dl>
          <dt>Manufacturer:</dt>
          <dd>{{ product.manufacturer }}</dd>

          <dt>Item number:</dt>
          <dd>{{ product.itemNumber }}</dd>

          <dt>Description:</dt>
          <dd>{{ product.description }}</dd>
        </dl>
      </div>
      <div class="stock-indicator" fxFlex="calc(100%/3)">
        <ng-container *ngIf="product.quantity > 0; else outOfStockTemplate">
          <mat-icon class="success">check_circle_outline</mat-icon>
          <p>In stock: {{ product.quantity }}</p>
        </ng-container>
        <ng-template #outOfStockTemplate>
          <mat-icon color="warn">clear</mat-icon>
          <p>Out of stock</p>
        </ng-template>
        <p class="price">{{ product.price }}$</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
