<div class="page-header" 
  fxLayout="row"
  fxLayout.lt-md="column"
  fxLayoutAlign="space-between center">
  <h1>Products</h1>
  <form #filterForm="ngForm"
    (submit)="updateQuery()">
    <div fxFlex
      fxLayout="row wrap"
      fxLayout.lt-sm="column"
      fxLayoutAlign="start center"
      fxLayoutAlign.lt-md="space-between center"
      fxLayoutGap="20px">
      <mat-checkbox #outOfStockIndicator
        fxFlex="auto"
        fxFlex.lt-md="100%"
        color="primary"
        (change)="onOutOfStockIndicatorChanged($event)">
        Show out of stock items
      </mat-checkbox>
      <app-simple-input
        fxFlex="1 1 auto"
        name="quantityFrom"
        [(ngModel)]="filterFormModel.quantityFrom"
        [disabled]="outOfStockIndicator.checked"
        [appMin]="0"
        label="Min. quantity"
        type="number"
      ></app-simple-input>
      <app-simple-input
        fxFlex="1 1 auto"
        name="quantityTo"
        [(ngModel)]="filterFormModel.quantityTo"
        [disabled]="outOfStockIndicator.checked"
        [appMin]="0"
        label="Max. quantity"
        type="number"
      ></app-simple-input>
      <button mat-stroked-button
        type="submit"
        color="primary">
        Filter
      </button>
    </div>
  </form>
</div>
<mat-divider></mat-divider>
<ng-container *ngIf="products$ | async as products">
  <div class="page-content"
    fxLayout="column"
    fxLayoutGap="16px">
    <div fxLayout="row"
      fxLayoutAlign="end">
      <button mat-raised-button
        color="primary"
        [disabled]="(createOrderEnabled$ | async) === false"
        routerLink="/orders/create">
        Create order
      </button>
    </div>
    <div *ngIf="products.length; else noResultTemplate"
      gdColumns="repeat(4, 1fr)"
      gdColumns.lt-xl="repeat(3, 1fr)"
      gdColumns.lt-lg="repeat(2, 1fr)"
      gdColumns.lt-md="1fr"
      gdRows="auto"
      gdGap="20px">
      <app-product-card
        class="product-card"
        *ngFor="let product of products$ | async"
        [product]="product">
        <div product-card-actions>
          <button *ngIf="!(productsInOrder$ | async).includes(product.id); else removeTemplate"
            mat-icon-button
            mat-raised-button
            color="primary"
            matTooltip="Add to order"
            (click)="openProductAddDialog(product)"
            [disabled]="product.quantity <= 0">
            <mat-icon>add</mat-icon>
          </button>
          <ng-template #removeTemplate>
            <button mat-icon-button
              mat-raised-button
              color="primary"
              matTooltip="Remove from order"
              (click)="updateProductOrder(product, false)">
              <mat-icon>remove</mat-icon>
            </button>
          </ng-template>
        </div>
      </app-product-card>
    </div>
  </div>
  <ng-template #noResultTemplate>
    No result
  </ng-template>
</ng-container>
