<div class="page-header" 
  fxLayout="row"
  fxLayoutAlign="space-between center">
  <h1>Orders</h1>
  <mat-form-field>
    <mat-label>Order status</mat-label>
    <mat-select [formControl]="statusControl">
      <mat-option></mat-option>
      <mat-option *ngFor="let status of orderStatusValues" [value]="status.value">
        {{ status.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<mat-divider></mat-divider>
<div class="page-content">
  <ng-container *ngIf="orders$ | async as orders">
    <mat-card *ngIf="orders.length; else noResultTemplate"
      class="orders-card">
      <mat-card-content>
        <table class="expandable-table orders-table" 
          mat-table
          multiTemplateDataRows
          [dataSource]="orders">

          <ng-container matColumnDef="customerName">
            <th mat-header-cell *matHeaderCellDef>Customer name</th>
            <td mat-cell *matCellDef="let element">{{ element.customer.name }}</td>
          </ng-container>
      
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element">{{ element.status | lowercase | titlecase }}</td>
          </ng-container>
      
          <ng-container matColumnDef="totalDue">
            <th mat-header-cell *matHeaderCellDef>Total due</th>
            <td mat-cell *matCellDef="let element">{{ element.totalDue }}$</td>
          </ng-container>
      
          <ng-container matColumnDef="paymentMethod">
            <th mat-header-cell *matHeaderCellDef>Payment method</th>
            <td mat-cell *matCellDef="let element">{{ element.paymentMethod | lowercase | titlecase }}</td>
          </ng-container>
      
          <ng-container matColumnDef="placedAt">
            <th mat-header-cell *matHeaderCellDef>Placed at</th>
            <td mat-cell *matCellDef="let element">{{ element.placedAt | date }}</td>
          </ng-container>
      
          <ng-container matColumnDef="updatedAt">
            <th mat-header-cell *matHeaderCellDef>Updated at</th>
            <td mat-cell *matCellDef="let element">{{ element.updatedAt | date }}</td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element"
              [attr.colspan]="displayedColumns.length">
              <div class="expanded-row-details"
                [@expandRow]="expandedRow === element ? 'expanded' : 'collapsed'">
                <app-order-details [order]="element"></app-order-details>
              </div>
            </td>
          </ng-container>
  
          <tr mat-header-row 
            *matHeaderRowDef="displayedColumns"
          ></tr>
          <!-- TODO: ripple on click -->
          <tr class="main-row"
            mat-row
            *matRowDef="let row; columns: displayedColumns;"
            (click)="expandedRow = expandedRow === row ? null : row"
          ></tr>
          <tr mat-row
            *matRowDef="let row; columns: ['expandedDetail']"
            class="details-row"
          ></tr>
        </table>
      </mat-card-content>
    </mat-card>
    <ng-template #noResultTemplate>
      No result
    </ng-template>
  </ng-container>
</div>
