<div class="page-header">
  <h1>Place order</h1>
</div>
<mat-divider></mat-divider>
<div class="page-content">
  <mat-card>
    <mat-card-content>
      <mat-vertical-stepper [linear]="true">
        <mat-step [stepControl]="personalInfoGroup">
          <ng-template matStepLabel>Personal info</ng-template>
          <form [formGroup]="personalInfoGroup">
            <div fxLayout="row wrap"
            fxLayoutGap="16px">
              <app-simple-input
                label="Full name"
                formControlName="name"
                [required]="true"
              ></app-simple-input>
              <app-simple-input
                label="E-mail address"
                formControlName="email"
                type="email"
                [required]="true"
              ></app-simple-input>
              <mat-form-field>
                <mat-label>Date of birth</mat-label>
                <input matInput
                  formControlName="birthDate"
                  [matDatepicker]="picker"
                  [max]="maxDate"
                  [required]="true"
                />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="personalInfoGroup.get('birthDate').errors?.matDatepickerParse">
                  Invalid date format.
                </mat-error>
              </mat-form-field>
            </div>
          </form>
          <div fxLayout="row"
            fxLayoutAlign="end"
            fxLayoutGap="8px">
            <button matStepperNext
              fxFlex.lt-md="calc(50%-8px)"
              fxFlex.lt-sm="100%"
              mat-stroked-button
              color="primary"
              [disabled]="personalInfoGroup.invalid">
              Next
            </button>
            <div fxHide fxShow.sm fxFlex="calc(50%-8px)"></div>
          </div>
        </mat-step>
        <mat-step [stepControl]="shippingGroup">
          <ng-template matStepLabel>Shipping and payment</ng-template>
          <form [formGroup]="shippingGroup">
            <h2>
              Billing info
            </h2>
            <app-customer-info-group 
              [formGroup]="shippingGroup.controls.billingInfo"
            ></app-customer-info-group>

            <h2>
              Shipping info
            </h2>
            <mat-checkbox [ngModel]="matchIndicator"
              (ngModelChange)="onMatchIndicatorUpdate($event)"
              [ngModelOptions]="{ standalone: true }"
              color="primary">
              Use my billing info for shipping
            </mat-checkbox>
            <app-customer-info-group
              [formGroup]="shippingGroup.controls.shippingInfo"
              [disabled]="matchIndicator"
            ></app-customer-info-group>

            <mat-form-field>
              <mat-label>Payment method</mat-label>
              <mat-select formControlName="paymentMethod"
                [required]="true">
                <mat-option *ngFor="let paymentMethod of paymentMethodValues" [value]="paymentMethod.value">
                  {{ paymentMethod.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
          <div fxLayout="row wrap"
            fxLayout.lt-sm="column"
            fxLayoutGap="8px"
            fxLayoutAlign="space-between">
            <button matStepperPrevious 
              fxFlex.sm="calc(50%-8px)"    
              mat-stroked-button>
              Previous
            </button>
            <button matStepperNext
              fxFlex.sm="calc(50%-8px)"
              mat-stroked-button
              color="primary"
              [disabled]="shippingGroup.invalid">
              Next
            </button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Summary</ng-template>
          <app-order-details
            [order]="currentOrder$ | async"
            [breakUnderMd]="true"
          ></app-order-details>
          <div fxLayout="row wrap"
            fxLayout.lt-sm="column"
            fxLayoutGap="8px"
            fxLayoutAlign="space-between">
            <button matStepperPrevious
              fxFlex.sm="calc(50%-8px)"     
              mat-stroked-button>
              Previous
            </button>
            <button mat-raised-button
              fxFlex.sm="calc(50%-8px)"
              color="primary"
              (click)="placeOrder()">
              Submit order
            </button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </mat-card-content>
  </mat-card>
</div>
