$breakpoint-sm: 600px;
$breakpoint-md: 960px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1920px;

$app-primary: #673ab7;
$app-success: #3ca235;
$app-warn: #f44336; /* Might not be needed */
$mat-divider-grey: rgba(0, 0, 0, 0.12);
