<div class="product-order-table" 
  fxLayout="row wrap"
  fxLayoutAlign="end">
  <table mat-table
    fxFlex="100%"
    [dataSource]="productOrders">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.product.name }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element">{{ element.product.price }}</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="productTableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: productTableColumns;"></tr>
  </table>
  <p *ngIf="totalDue" class="total-due">Total due: {{ totalDue }}$</p>
</div>
