@import 'media-queries';
@import 'variables';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(90deg, rgba(224, 224, 224, 1) 0%, rgba(235, 235, 235, 1) 100%);
}

.mat-select-value {
  max-width: 100%;
  width: auto;
}

.success {
  color: $app-success;
}

.page-header {
  padding-bottom: 20px;
}

.page-content {
  margin-top: 20px;
}

.container {
  max-width: 1900px;
  margin: 0 auto;

  @include lt-xl {
    max-width: 1200px;
  }

  @include lt-lg {
    max-width: 900px;
  }

  @include lt-md {
    max-width: 580px;
  }

  @include lt-sm {
    max-width: 100%;
    margin: 0 16px;
  }
}
