<section class="order-details"
  fxLayout="row"
  fxLayoutGap="16px">
  <div fxFlex="50%">
    <ng-container *ngIf="order.customer as customer">
      <h2>Customer</h2>
      <dl>
        <dt>Name:</dt>
        <dd>{{ customer.name }}</dd>
  
        <dt>E-mail:</dt>
        <dd>{{ customer.email }}</dd>
  
        <dt>Date of birth:</dt>
        <dd>{{ customer.birthDate | date }}</dd>
      </dl>
    </ng-container>

    <div fxLayout="row wrap">
      <div *ngIf="order.billingInfo as billingInfo"
        fxFlex="50%">
        <h2>Billing info</h2>
        <app-customer-info [customerInfo]="billingInfo"></app-customer-info>
      </div>
  
      <div *ngIf="order.shippingInfo as shippingInfo"
        fxFlex="50%">
        <h2>Shipping info</h2>
        <app-customer-info [customerInfo]="shippingInfo"></app-customer-info>
      </div>
    </div>
  </div>
  <div fxFlex="50%">
    <h2>Ordered products</h2>
    <app-product-order-table
      [productOrders]="order.products"
      [totalDue]="order.totalDue"
    ></app-product-order-table>
  </div>
</section>
