.order-details {
  padding: 16px;

  .total-due {
    margin-top: 16px;
    font-size: 16px;
    font-weight: bold;
  }

  .products-table {
    .mat-column-quantity {
      text-align: right;
    }
  }
}
