<section class="order-details"
  fxLayout="row"
  fxLayoutGap="16px">
  <div fxFlex="50%">
    <ng-container *ngIf="order.customer as customer">
      <h2>Customer</h2>
      <dl>
        <dt>Name:</dt>
        <dd>{{ customer.name }}</dd>
  
        <dt>E-mail:</dt>
        <dd>{{ customer.email }}</dd>
  
        <dt>Date of birth:</dt>
        <dd>{{ customer.birthDate | date }}</dd>
      </dl>
    </ng-container>

    <div fxLayout="row wrap">
      <div *ngIf="order.billingInfo as billingInfo"
        fxFlex="50%">
        <h2>Billing info</h2>
        <app-customer-info [customerInfo]="billingInfo"></app-customer-info>
      </div>
  
      <div *ngIf="order.shippingInfo as shippingInfo"
        fxFlex="50%">
        <h2>Shipping info</h2>
        <app-customer-info [customerInfo]="shippingInfo"></app-customer-info>
      </div>
    </div>
  </div>
  <div fxFlex="50%">
    <h2>Ordered products</h2>
    <div fxLayout="row wrap"
      fxLayoutAlign="end">
      <table mat-table
        class="products-table"
        fxFlex="100%"
        [dataSource]="order.products">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.product.name }}</td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Price</th>
          <td mat-cell *matCellDef="let element">{{ element.product.price }}</td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>Quantity</th>
          <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="productTableColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: productTableColumns;"></tr>
      </table>
      <p class="total-due">Total due: {{ order.totalDue }}$</p>
    </div>
  </div>
</section>
